body {
    margin: 0;
}

.fake-body {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.fake-body img {
    width: 100%;
}
a.ar-model-body {
    width: calc(100% - 4px);
    position: absolute;
    float: left;
    top: 220px;
    left: 2px;
    z-index: 1000;
}  
